@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    @font-face {
        font-family: 'Cera Pro';
        src: url('../fonts/CeraPro-Regular.woff2') format('woff2'),
            url('../fonts/CeraPro-Regular.woff') format('woff');
    }

    body {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        font-family: 'Cera Pro', sans-serif;
        min-width: 100vw;
        min-height: 100vh;    }
}


@import "tailwind";