
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}

@import "tailwind";
@import "_variables.css";

:root{
    --mid-grey: var(#AEAEBA);
    --mid-grey-light: var(rgba(160, 160, 171, 0.16));
    --white: var(#ffffff);
    --dark-grey: var(#9898A3);
    --charcoal: var(#202020);
}

@font-face {
    font-family: Cera PRO medium;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    src: url(cerapro-medium.otf);
}
@font-face {
    font-family: Cera PRO;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    src: url(cerapro-regular.otf);
}