@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: CeraProMedium;
        font-weight: 400;
        src: url("./cerapro-medium.otf") format("otf");
      }
      @font-face {
        font-family: CeraProRegular;
        font-weight: 400;
        src: url("./cerapro-regular.otf") format("otf");
      }
}

@import "tailwind"
